body {
    background-image:none;
}
.form {
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
    border: unset;
    border:solid yellowgreen 2px;
}
h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}

.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 58%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-left: 65px;
    border-radius: 50px ;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #666;
}
h3 {
    font-weight: normal;
    text-align: center;
}

input#ppp {
    height: 70px;
}
.division{
    text-align: center;
}
.col{
    padding: 10px;
    border: none;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
}